{% load cms_tags sekizai_tags static %}

{% addtoblock "css" %}
    {# Link al file css #}
    <link rel="stylesheet" href="{% static 'quiz_plugin/css/quiz.css' %}">
{% endaddtoblock %}

{% addtoblock "js" %}
    {# Link al file js #}
    <script src="{% static 'quiz_plugin/js/quiz.js' %}" defer></script>
{% endaddtoblock %}

{# Container principale, cattura la lingua #}
<div id="quiz-container" data-language-code="{{ LANGUAGE_CODE }}">
    {# Placeholders for dynamically loaded test name and description #}
    <h2 id="quiz-title-display">Loading Quiz...</h2>
    <p id="quiz-description-display"></p>

    {# Initial form to collect age and sex #}
    <form id="quiz-start-form">
        <label for="age">Età:</label>
        <input type="number" id="age" name="age" min="0" required>

        <label for="sex">Sesso:</label>
        <select id="sex" name="sex" required>
            <option value="">Seleziona...</option>
        </select>
        <button type="submit">Inizia Quiz</button>
    </form>

    {# Container for displaying questions one by one #}
    <div id="quiz-questions" style="display:none;">
        <!-- Indicatore di progresso per le domande -->
        <div id="quiz-navigation-indicator"></div>
        
        <h3 id="question-number"></h3>
        <p id="question-text"></p>
        <div id="answer-options">
            {# Viene caricato in modo dinamico dal js  #}
        </div>

        <!-- Contenitore per i pulsanti di navigazione -->
        <div class="quiz-navigation">
            <button id="prev-question-btn">Domanda precedente</button>
            <button id="next-question-btn">Domanda successiva</button>
        </div>

        <!-- Pulsante per consegnare il quiz, inizialmente disabilitato -->
        <button id="finish-quiz-btn" disabled>Finisci Quiz</button>
    </div>

    {# Container for displaying quiz results after completion #}
    <div id="quiz-results" style="display:none;">
        <h3>Risultati Quiz </h3>
        <p>Il tuo punteggio: <span id="final-score"></span></p>
        <p>Codice del Quiz: <span id="execution-code"></span></p>
        <p>Tempo totale: <span id="time-taken"></span> secondi</p>
        <div id="pass-fail-message"></div>
        <div id="detailed-results">
        </div>
        <button id="download-pdf-btn">Scarica PDF</button>
    </div>
</div>